@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverAnimation {
    @apply h-[52px] w-[52px] cursor-pointer rounded-full transition duration-200 ease-out hover:bg-slate-200 hover:bg-opacity-20 lg:h-auto lg:w-auto lg:py-3 lg:px-4;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
